html {
    background-color: #869960;
}
/*
@font-face {
    font-family: 'PT-Sans';
    src: url('fonts/PT-Sans.eot');
    src: url('fonts/PT-Sans.eot?#iefix') format('embedded-open-type'),
    url('fonts/PT-Sans.woff') format('woff'),
    url('fonts/PT-Sans.ttf') format('truetype'),
    url('fonts/PT-Sans..svg#pt_sansregulat') format('svg');
    font-weight: normal;
    font-style: normal;

    move files to folder, include bold, bold-italic, italic files, use same code as above except PT-Sans-Bold
    font-weight: bold
}   */

body {
    font-family: Tahoma, sans-serif;
    font-size: 87%;
}
.container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: #FFF;
    background-image: url(border.png);
    background-repeat: repeat-x;
    background-repeat:
    padding-left: 40px;
    box-sizing: border-box;
}
.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
    margin-left: 3%;
}
header h1 {
    margin: 0;
    padding-top: 5%;
    padding-left: 10%;
    font-weight: normal;
    font-size: 300%;
    box-sizing: border-box;
}
header h2 {
    font-weight: normal;
    padding-left: 10%;
}
header p {
    margin: 0;
}
header {
    color: #617140;
}
.main-area {
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}
.main-area p {
    font-size: 400%;
    color: #f49aca;
    text-shadow: 2px 2px gray;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
.image-banner {
    position: relative;
}
.banner-description {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 120%;
    font-style: italic;
    background-color: rgba(234, 126, 193, .6);
    padding: 4.5%;
}
.image-banner img {
    display: block;
}
.sidebar {
    width: 34%;
    float: left;
    background-color: #e5e9dc;
    padding: 20px 40px;
    font-size: 85%;
    font-weight: normal;
    box-sizing: border-box;
}
footer {
    padding: 20px;
    text-align: center;
    color: #999;
    font-size: 85%;
}
.group:before,
.group:after  {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
